.polygon-list-sidebar {
  width: 100%;
  background-color: theme("colors.ochre") !important;

  .p-sidebar-content {
    padding: 1.25rem;
  }

  @media screen and (max-width: 640px) {
    .p-sidebar-content {
      padding: 1rem;
    }
  }
}
