@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/tailwind-light/theme.css";

@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Comfortaa:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading: "Artifika";
  --content: "Comfortaa";
}

* {
  scroll-behavior: smooth;
}

.p-button:focus,
.p-inputtext:enabled:focus,
.p-link:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: #353735;
  border: 0px;
}

.p-toast {
  z-index: 10000;
}

a:hover,
.p-button:hover {
  border-color: none;
  background-color: unset;
  color: unset;
}

@media (hover: hover) {
  a:hover,
  .p-button:hover {
    border-color: theme("colors.bud-green") !important;
    background-color: theme("colors.bud-green") !important;
    color: theme("colors.naples-yellow") !important;
  }
}

@media only screen and (max-width: 520px) {
  .p-toast {
    width: 80%;
    max-width: 80%;
  }
}
