@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/tailwind-light/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.p-button:hover {
  border-color: theme("colors.bud-green") !important;
  background-color: theme("colors.bud-green") !important;
  color: theme("colors.naples-yellow") !important;
}
